/****************************
* mixin
*****************************/
// box
@mixin display-box {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
}

// box-flex
@mixin box-flex ($val: 1) {
	box-flex: $val;
	-ms-flex: $val;
	-webkit-box-flex: $val;
	-moz-box-flex: $val;
}

// 上下左右中央
@mixin vh-center {
	position: relative;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%, -50%));
}

// モーダルウィンドウ
@mixin modal ($width: 50%, $height: 50%) {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.5);
	> div {
		width: $width;
		height: $height;
		background-color: white;
		@include border-radius(3px);
		@include vh-center();
		> div {
			display: inline-block;
			@include vh-center();
		}
	}
}

// 凸テキスト影
@mixin emboss-text {
	@include text-shadow(rgba(white, 1) -1px -1px 1px, rgba(black, .7) 1px 1px 1px)
}

// 凹テキスト影
@mixin deboss-text {
	@include text-shadow(rgba(white, 1) 1px 1px 1px, rgba(black, .7) -1px -1px 1px)
}

// 凹ライン上
@mixin deboss-line-top ($op1: .2, $op2: .3) {
	border-top: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0 inset);
}

// 凹ライン下
@mixin deboss-line-bottom ($op1: .2, $op2: .3) {
	border-bottom: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) 0 1px 0);
}

// 凹ライン左
@mixin deboss-line-left ($op1: .2, $op2: .3) {
	border-left: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0);
}

// 凹ライン右
@mixin deboss-line-left ($op1: .2, $op2: .3) {
	border-right: 1px solid rgba(0, 0, 0, $op1);
	@include box-shadow(rgba(255, 255, 255, $op2) -1px 0 0 inset);
}

// 濃い背景色＋白抜き文字のテキストシャドウ
@mixin ts-000 ($op: .4) {
	@include text-shadow(rgba(0, 0, 0, $op) 1px -1px);
}

// 薄い（白に近い）背景色＋濃い色の文字のテキストシャドウ（白いシャドウ）
@mixin ts-fff ($op: .7) {
	@include text-shadow(rgba(255, 255, 255, $op) -1px 1px);
}

// 上が明るい控えめなグラデーション
@mixin gradient-top-lighten ($color: #666, $lighten: 10%) {
	background-color: $color;
	@include filter-gradient(lighten($color, $lighten), $color, vertical);
	@include background-image(linear-gradient(lighten($color, $lighten) 0%, $color 100%));
}

// 上が暗い控えめなグラデーション
@mixin gradient-top-darken ($color: #666, $darken: 10%) {
	background-color: $color;
	@include filter-gradient(darken($color, $darken), $color, vertical);
	@include background-image(linear-gradient(darken($color, $darken) 0%, $color 100%));
}

// ボックスの周りに控えめな影
@mixin zurui-box ($shadow: 0.15) {
	@include box-shadow(rgba(0, 0, 0, $shadow) 0 0 2px);
}

// グラデーションでリッチなボックスに
@mixin rich-box ($shadow: .2) {
	@include box-shadow(rgba(0, 0, 0, $shadow) 0 0 20px inset);
}

// 凹ボックス
@mixin deboss-box ($border: .1, $shadow: .05, $highlight: .8) {
	border: 1px solid rgba(0, 0, 0, $border);
	@include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 2px inset,
	rgba(255, 255, 255, $highlight) -1px 1px 0);
}

// 凸ボックス
@mixin emboss-box ($border: .1, $shadow: .05, $highlight: .5) {
	border: 1px solid rgba(0, 0, 0, $border);
	@include box-shadow(rgba(0, 0, 0, $shadow) -1px 1px 0,
	rgba(255, 255, 255, $highlight) -1px 1px 0 inset);
}

// 良さ気なボタン
@mixin zurui-button ($color: #48b1f2, $font-size: 16px, $size: "L", $text-color: white) {
	display: inline-block;
	background-origin: border-box;
	position: relative;
	font-weight: bold;
	@include ts-000();
	@include gradient-top-lighten($color, 5%);
	@include border-radius(4px);
	@include emboss-box($border: .1, $shadow: .1, $highlight: .2);
	color: $text-color;
	text-align: center;
	font-size: $font-size;
	@if $size == "L" {
		padding: 0 ($font-size * 2);
		height: $font-size * 3;
		line-height: $font-size * 3;
	} @else if $size == "M" {
		padding: 0 ($font-size * 1.6);
		height: $font-size * 2.4;
		line-height: $font-size * 2.4;
	} @else if $size == "S" {
		padding: 0 ($font-size * 1.2);
		height: $font-size * 1.8;
		line-height: $font-size * 1.8;
	}
	text-decoration: none;
	// for Font Awesome
	i {
		font-size: 130%;
		margin-right: $font-size * .3;
		color: rgba($text-color, .7);
		vertical-align: text-top;
	}
	&:hover {
		@include gradient-top-lighten(lighten($color, 5%), 5%);
		i {
			color: rgba($text-color, .9);
		}
	}
	&:active {
		@include gradient-top-lighten($color, 5%);
		top: 1px;
	}
}

// 角丸テーブル
@mixin radius-table ($rad: 4px, $th-color: #aaa, $font-size: 16px, $th-pos: "top") {
	@include border-radius($rad);
	border-collapse: inherit !important;
	border-spacing: 0;
	border-top: solid 1px darken($th-color, 5%);
	border-left: solid 1px darken($th-color, 5%);
	
	th {
		color: white;
		@include ts-000();
		font-weight: bold;
		background-color: $th-color;
		padding: $font-size * .3 $font-size * .6;
		border-right: solid 1px darken($th-color, 5%);
		border-bottom: solid 1px darken($th-color, 5%);
	}

	td {
		color: #444;
		background-color: white;
		padding: $font-size * .3 $font-size * .6;
		border-right: solid 1px darken($th-color, 5%);
		border-bottom: solid 1px darken($th-color, 5%);
	}

	tr:first-child th:first-child,
	tr:first-child td:first-child {
		@include border-top-left-radius($rad);
	}

	tr:first-child th:last-child,
	tr:first-child td:last-child {
		@include border-top-right-radius($rad);
	}
	
	@if $th-pos == "top" {
		tbody tr:first-child td:first-child,
		tbody tr:first-child td:last-child {
			@include border-radius(0);
		}
	}

	tr:last-child td:first-child {
		@include border-bottom-left-radius($rad);
	}
	
	tr:last-child td:last-child {
		@include border-bottom-right-radius($rad);
	}
}
