@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "bootstrap";
@import "font-awesome-compass";
@import "font-awesome";
@import 'common_mixin.scss';
@import 'init.scss';

.title {
	@include emboss-text();
	color: #777;
	margin: 12px 0;
	font-size: 48px;
}

@media (max-width: 480px) {
	.title {
		font-size: 36px;
	}
}

.link {
	@include border-radius(3px);
	@include zurui-box(0.3);
	cursor: pointer;
	padding: .3em 1.5em;
	margin-bottom: .5em;
	font-size: 18px;
	i {
		margin-right: 10px;
		vertical-align: middle;
	}
	* {
		vertical-align: middle;
	}
	&:hover {
		// マウスオーバーで移動
		@include translate(0px, -2px);
	}
}
